html, body{
	font-size: 16px;
}
body{
	min-width: 1100px;
	min-height: 600px;
	width: 100vw;
    height: 100vh;
}
.wrapper{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}
.right-bar{
	width: 30.5555556%;
	order: 3;
	margin-top: 3.84%;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
nav{
	display: flex;
	flex-direction: row;
	position: relative;
}
.loop-icon{
	position: absolute;
	left: 8.74px;
	top: 10.74px;
	cursor: pointer;
}
.search{
	background: #F5F5F7;
	border-radius: 8px;
	border: none;
	width: 300px;
	height: 40px;
	margin-right: 36.49px;
	padding-left: 50px;
}
.bell-icon{
	margin-right: 27px;
	cursor: pointer;
}
.nav-image{
	margin-right: 15px;
	cursor: pointer;
}
.arrow-icon{
cursor: pointer;
}
.bracket-wrapper{
	display: flex;
	flex-direction: row;
	margin-top: 23.6px;

}
.first-bracket{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 208px;
	height: 96.33px;
	background: #F5F5F7;
	border-radius: 14px;
	margin-right: 10px;
}
.first-number{
	font-family: "Baloo Bhai 2", cursive;
	font-style: normal;
	font-weight: 800;
	font-size: 64px;
	line-height: 102px;
	color: #000000;
}
.first-discription{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;	
	color: #000000;
	margin-left: 11.15px;
}
.second-bracket{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;	
	background: #F5F5F7;
	border-radius: 14px;
	width: 208px;
	height: 96.33px;
	margin-left: auto;
}
.second-number{
	font-family: "Baloo Bhai 2", cursive;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 102px;
    color: #000000;
}
.second-discription{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin-left: 15.52px;
}
.select{
	background: #F5F5F7;
	border-radius: 8px;
	border: none;
	color: #000000;
	width: 88px;
	height: 32px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 15px;
	margin-left: auto;
	cursor: pointer;

}
.statistic-title{
	font-family: "Baloo Bhai 2";
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	line-height: 38px;
	color: #000000;
	margin-top: 40.5px;
}
.your-statistic-options{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 16.24px;
}
.options{
	font-family: "Baloo Bhai 2";
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 26px;
	color: #000000;
	cursor: pointer;
}
.item-opacity{
	opacity: 0.3;
	margin-left: 24px;
}
.statistic-img{
	margin-top: 32.11px;
}
.go-premium{
	background: #F5F5F7;
	border-radius: 14px;
	height: 193px;
	display: flex;
	flex-direction: row;
	margin-top: 49.2px;
	padding-left: 23.69px;
	padding-top: 24.12px;
}
.go-premium-left{
	width: 45%;
	display: flex;
	flex-direction: column;
}
.lern-more-title{
	font-family: "Baloo Bhai 2";
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 38px;
	color: #000000;
}
.fee-monthly{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin-top: 2.88px;
}
.go-premium-button{
	background: #000000;
	border-radius: 8px;
	color: #FFFFFF;
	width: 120px;
	height: 40px;
	border: none;
	margin-top: 24px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 15px;
	cursor: pointer;
	color: #FFFFFF;
}
.go-premium-right{
	width: 55%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.mid-bar{
	width: 43.0555556%;
	order: 2;
	margin-right: 4.44861111%;
	border: 1px solid green;
	min-height: 858px;
	display: flex;
	flex-direction: column;
	position: relative;
}
header{
	background: #F5F5F7;
	border-radius: 14px;
	position: relative;
	padding-left: 31.5px;
	margin-top: 55.25px;
}

.main-title{
	font-family: "Baloo Bhai 2";
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 57px;
	color: #000000;
	margin-top: 46.42px;
}
.main-title-discription{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin-bottom: 40.11px;
}
.header-img{
	position: absolute;
	left: 330px;
	top: 31px;
}
.under-header{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 24px;
}
.spanish-flag-wrapper{
	height: 64px;
	width: 64px;
	background: #FFFFFF;
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 8px 23px 8px 8.5px;
}
.spanish-b2-wrapper{
	margin-right: 44.5px;
}
.spanish-b2{
	font-family: "Baloo Bhai 2";
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 26px;
	color: #000000;
}
.spanish-b2-discription{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
	color: #000000;
}
.ellipse-icon{
	margin-right: 39.5px;
}
.continue-button{
	background: #000000;
	border-radius: 8px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 15px;
	color: #FFFFFF;
	width: 120px;
	height: 40px;
	margin-right: 23.83px;
}
.arrows-button{
	margin-left: auto;
}
.under-header-left{
	display: flex;
	flex-direction: row;
	width: 81%;
	align-items: center;
	background: #F5F5F7;
	border-radius: 14px;
}
.under-header-right{
	width: 19%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.courses-title{
	font-family: "Baloo Bhai 2";
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 38px;
	color: #000000;
}
.courses-options{
	display: flex;
	flex-direction: row;
}
.courses-options-list{
	font-family: "Baloo Bhai 2";
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 26px;
	color: #000000;
}
.with-opacity{
	font-family: "Baloo Bhai 2";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #000000;
	opacity: 0.3;
	margin-right: 31.71px;
}
.bold-option{
	margin-right: 29.71px;
}
.list-of-courses{
	width: 100%;
	display: flex;
	flex-direction: row;
	background: #F5F5F7;
	border-radius: 14px;
}
.logo-courses-wrapper{
	height: 64px;
	width: 64px;
	background: #FFFFFF;
	border-radius: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 8px 23px 8px 8.5px;

}
.list-of-courses{
	margin-top: 16px;
}
.top-course{
	margin-top: 10.24px;
}
.menu{
	background: #000000;
	border-radius: 24px;
	width: 9.16666667%;
	order: 1;
	margin-right: 4.97638889%;
	margin-top: 24px;
    margin-left: 32.34px;
	display: flex;
	flex-direction: column;
	align-items: center; 
	min-height: 852px;
	box-shadow: 24px 9px 44px -8px rgba(0, 0, 0, 0.75);
}
.logo{
	width: 35.6060606%;
	height: 11.971831%;
	margin-top: 15.65px;
	cursor: pointer;
}
.house-icon{
	width: 19.6969697%;
	height: 3.05164319%;
	margin-top: 64.33px;
	cursor: pointer;
}
.heat-icon{
	width: 21.1742424%;
	height: 2.61384977%;
	margin-top: 63.53px;
	cursor: pointer;
}
.man-icon{
	width: 17.3409091%;
	height: 3.05633803%;
	margin-top: 64.3px;
	cursor: pointer;
}
.email-icon{
	width: 19.6515152%;
	height: 2.67723005%;
	margin-top: 63.85px;
	cursor: pointer;
}
.settings-icon{
	width: 19.6969697%;
	height: 3.05164319%;
	margin-top: 64.18px;
	cursor: pointer;
}
.exit-icon{
	width: 19.7727273%;
	height: 3.06455399%;
	margin-bottom: 40px;
	margin-top: 224.55px;
	cursor: pointer;
}